<a href="https://colab.research.google.com/github/Christina-178/DTS101_assignment-/blob/main/WEEK_4_Functions_and_Algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CHRISTINA ABONGABY CHIBUMA
UJ/2025/CP/0178,
DATA SCIENCE
FACULTY OF COMPUTING


# WEEK 4: Functions & Algorithms for Data Analysis

**Programme:** Data Science  
**Course Title:** Data Visualization and Storytelling (Practical)  
**Week:** 4  
**Contact Hours:** 2 Hours Lecture + 2 Hours Practical  

---

## Course Overview

This week introduces Functions and Algorithms in Python.

Functions allow reusable code. Algorithms are step-by-step solutions to problems.

Students will learn:

- How to create functions
- How to use functions
- How to compute averages using functions
- How to determine pass/fail using functions


## Learning Outcomes

By the end of this week, students should be able to:

- Define and use functions
- Apply functions to real data
- Compute averages using functions
- Determine pass/fail using functions


# PART 1: Basic Function

In [ ]:

def greet():
    print("Welcome to Data Science")

greet()

Welcome to Data Science


# PART 2: Function with Parameter

In [ ]:

def greet_student(name):
    print("Hello", name)

greet_student("David")
greet_student("Mary")

Hello David
Hello Mary

In [ ]:
Pdef sayHello(name):
    print("Hello", name)

sayHello("Christina")

def greet():
   print("Welcome to data science")

greet()

Hello Christina
Welcome to data science


# PART 3: Function to Compute Average

In [ ]:

def compute_average(scores):
    total = 0

    for score in scores:
        total = total + score

    average = total / len(scores)

    return average


scores = [65, 70, 80, 90, 75]

avg = compute_average(scores)

print("Average score:", avg)

Average score: 76.0


# PART 4: Function to Determine Pass or Fail

In [ ]:

def check_pass_fail(score):

    if score >= 50:
        return "Pass"
    else:
        return "Fail"


print(check_pass_fail(75))
print(check_pass_fail(40))

Pass
Fail


# PART 5: Apply Function to Multiple Students

In [ ]:

scores = [45, 67, 80, 30, 90]

for score in scores:
    result = check_pass_fail(score)
    print(score, result)


# PART 6: Algorithm Explanation

Algorithm steps to compute average:

1. Start
2. Set total = 0
3. Loop through scores
4. Add scores to total
5. Divide by number of scores
6. Display result
7. End


# PRACTICAL EXERCISE

Task 1: Create function compute_average()

Task 2: Create function check_pass_fail()

Task 3: Apply functions to student scores

In [ ]:
scores = (41, 59, 98, 86, 77, 53,94)
print(scores)

(41, 59, 98, 86, 77, 53, 94)

#Task 1
Function compute_average()

In [ ]:
def compute_average(scores):
  total = float()

  for score in scores:
    total = total + score

  average = sum(scores) / len(scores)

  return average
avg = compute_average(scores)
print("Average score", avg)

Average score 72.57142857142857

#Task 2
Function check_pass_fail()

In [ ]:
def check_pass_fail(score):

    if score >= 50:
        return "Pass"
    else:
        return "Fail"


print(check_pass_fail(41))
print(check_pass_fail(59))
print(check_pass_fail(98))
print(check_pass_fail(86))
print(check_pass_fail(77))
print(check_pass_fail(53))
print(check_pass_fail(94))

Fail
Pass
Pass
Pass
Pass
Pass
Pass

#Task 3
Apply functions to student scores

In [ ]:
for score in scores:
  result = check_pass_fail(score)
  print(score, result)

41 Fail
59 Pass
98 Pass
86 Pass
77 Pass
53 Pass
94 Pass


# ASSIGNMENT (Week 4)

1. Create function compute_average()

2. Create function check_pass_fail()

3. Apply to 5 students

4. Print results

Submit notebook (.ipynb)

In [139]:
students= {
"Carlos": 67,
"Deborah": 35,
"Max": 41,
"Mendel": 89,
"Catarina": 77,
}

for key in students:
   print(key, students[key])


scores = (67, 35, 41, 89, 77)
print(scores)

Carlos 67
Deborah 35
Max 41
Mendel 89
Catarina 77
(67, 35, 41, 89, 77)

#1. Compute_average

In [105]:

def compute_average(score):
  total = 0

  for score in scores:
    total = total + score

  average = sum(scores) / len(scores)

  return average

avg = compute_average(score)
print("Average score", avg)

Average score 61.8

#2. Check_pass_fail

In [113]:
def check_pass_fail(score):
   if score >= 50:
       return "Pass"
   else:
       return" Fail"

print(check_pass_fail(67))
print(check_pass_fail(35))
print(check_pass_fail(41))
print(check_pass_fail(89))
print(check_pass_fail(77))

Pass
 Fail
 Fail
Pass
Pass

#3. Apply to 5 students
#4. Print results

In [142]:
for key, score in students.items():
   result = check_pass_fail(score)
   print(key, score, result)

Carlos 67 Pass
Deborah 35  Fail
Max 41  Fail
Mendel 89 Pass
Catarina 77 Pass